pyTelegramBotAPI
requests
Flask
gunicorn
pyTelegramBotAPI
Flask
faster-whisper
yt-dlp
Pillow
requests
aiohttp
aiofiles
msspeech
click
pydub
imageio-ffmpeg
SpeechRecognition
firebase-admin
pytesseract
pyacoustid
pymongo
assemblyai
ffmpeg-python
pytube
